<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <link rel="stylesheet" href="/public/bower_components/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="/public/bower_components/semantic/dist/semantic.min.js">
  </head>
  <body>
    <form class="" action="<%= blog.action %>" method="POST">
      <input type="text" name="title" placeholder="Enter title!!" value="<%= blog.title %>">
      <textarea name="content" rows="8" cols="40" placeholder="Enter Content here!!"><%= blog.content %></textarea>
      <input type="hidden" name="id" value="<%= blog['_id'] %>">
      <input type="submit" value="<%= blog.mode %>">
    </form>
  </body>
</html>
